<div class="bm-widget-container flex flex-row items-center gap-6 p-6">
  <i class="bi-exclamation-diamond flex-initial text-6xl"></i>
  <div class="flex-initial flex flex-col gap-4">
    <div class="flex border-b-2 border-b-bm-background text-xl">
      Low Ingredients
    </div>
    <div class="text-md flex">
      <ul>
        <li>Flour</li>
        <li>Sugar</li>
        <li>Eggs</li>
        <li>Flour</li>
        <li>Sugar</li>
        <li>Eggs</li>
        <li>Flour</li>
        <li>Sugar</li>
        <li>Eggs</li>
        <li>Flour</li>
        <li>Sugar</li>
        <li>Eggs</li>
      </ul>
    </div>
  </div>
</div>
