<form class="grid grid-flow-row auto-rows-max gap-4" [formGroup]="form">
  <div>
    <h3 class="text-2xl px-2 text-center">{{data.ingredient ? 'Edit Ingredient' : 'Add Ingredient'}}</h3>
  </div>
  <div>
    <input
      id="name"
      type="text"
      placeholder="Ingredient Name"
      formControlName="name" />
  </div>
  <div>
    <textarea
      id="description"
      type="text"
      placeholder="Description"
      formControlName="description"></textarea>
  </div>
  <div>
    <select
      id="defaultUnit"
      matNativeControl
      formControlName="defaultUnitId">
      <option [value]="''">Select Default Unit...</option>
      <option [ngValue]="unit.id" *ngFor="let unit of units">{{unit.name}} ({{unit.abbr}})</option>
    </select>
  </div>
  <div>
    <bm-button class="w-full" icon="bi-save" (bmClick)="saveIngredient()" [disabled]="form.invalid">Save</bm-button>
  </div>
</form>
