/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Do+Hyeon&family=Fuzzy+Bubbles:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  @apply bg-gradient-to-br from-bm-yellow to-bm-brown text-bm-dark_type;
}

@layer components {
  input {
    @apply p-4 shadow-md rounded-md w-full;
  }
  input:focus, textarea:focus {
    @apply outline-0;
  }
}

.bm-widget-container {
  @apply rounded-3xl bg-gradient-to-br from-bm-offwhite to-bm-background_light outline outline-2 outline-offset-2 outline-bm-background_light;
}

