<div class="grid grid-cols-3 gap-4">
  <div class="col-span-2">
    <div class="bm-widget-container p-6">
      <table class="table-auto">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Unit</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredients">
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.description}}</td>
            <td>{{ingredient.defaultUnit.name}}s ({{ingredient.defaultUnit.abbr}})</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <bm-low-ingredients></bm-low-ingredients>
  </div>
</div>

